<header ng-include="'/views/partials/headerLogOut.html'"></header>


<div class="container">
  <div class="bioContainer">
    <div class="row">
      <div class="col-md-12">
        <h4>Biography of </h4>
        <p class="bioName">{{selectedRelative.data.firstName + " " + selectedRelative.data.lastName}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <p>Birthday: {{selectedRelative.data.birthday}}</p>
      </div>
      <div class="col-md-4">
        <p>Age: {{selectedRelative.data.age}}</p>
      </div>
      <div class="col-md-4">
        <p>Alive: {{selectedRelative.data.alive}}</p>
      </div>
    </div>
<br>
    <div class="row">
      <div class="col-md-12">
        <h4 class="title">Family</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p>Mother: {{selectedRelative.data.motherName}}</p>
      </div>
      <div class="col-md-4">
        <p>Father: {{selectedRelative.data.fatherName}}</p>
      </div>
    </div>

<br>
    <!-- <h3>Life</h3>
    <p>BirthPlace: {{selectedRelative.data.birthplace}}</p>
    <p>Education: {{selectedRelative.data.education}}</p>
    <p>Early Life: {{selectedRelative.data.earlyLife}}</p>

    <p>Profession: {{selectedRelative.data.profession}}</p>
    <p>Adult Life: {{selectedRelative.data.adultLife}}</p>

    <h3>Contact Information</h3>
    <p>Home Phone: {{selectedRelative.data.homePhone}}</p>
    <p>Mobile Phone: {{selectedRelative.data.mobilePhone}}</p>
    <p>Adress: {{selectedRelative.data.adress}}</p>
    <p>Email: {{selectedRelative.data.email}}</p>
    <p>Notes: {{selectedRelative.data.contactNotes}}</p> -->

    <div class="form-group row">
      <div class=" col-md-4 Btncontainer">
        <a href="#/userWelcome" class="btn btn-default" role="button">Back to Family List</a>
        <a href="#/editBio" class="btn btn-default" role="button" ng-click="viewSelectedBio(selectedRelative.data)">Edit Bio</a>
      </div>
    </div>
  </div>
</div>
