body {
  background-image: url('/images/rootDarkOPq.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #lightslategrey;
  height: 100%;
}

.container {
  border: 1px solid white;
  border-radius: 4px;
  background-color: rgba(242, 242, 249, 0.3);
  font-size: 20px;
}

.lead {
  text-align: center;
  color: ghostwhite;
  font-size: 45px;
}

.newBioForm {
  color: ghostwhite;
}

label {
    font-weight: 200;
    font-size: 16px;
}

.bioContainer {
  color: ghostwhite;
}

h4 {
  font-weight: 200;
}

.bioName {
  font-size: 50px;
  font-weight: 200;
}

.title {
  font-size: 25px;
  text-decoration: underline;
}


.btn-secondary {
  background-color: white;
  color:  #2e4739;
  opacity: 0.82;
}

.btn-secondary:hover {
  background-color: #2e4739;
  color: white ;
  opacity: 0.68;
}

.btn-default:hover {
  background-color: #2e4739 ;
  opacity: 0.70;
  color: white;
}

.btn-default {
opacity: 0.68;
}
