.formContainer {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
  border: 1px solid ghostwhite;
  border-radius: 4px;
  background-color: rgba(240, 243, 247, 0.7);
}

body {
  background-image: url('/images/rootOPq.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #lightslategrey;
  height: 100%;
}

h1 {
  text-align: center;
}

.lead {
  font-size: 30px;
}

.form-group .input-group .btns {
  text-align: center;
}

.cancelBtn a {
  color: brown;
}

.registerBtn {
  margin-left: 3px;
}

.navbar-brand {
  color: #2e4739;
  font-size: 25px;
}

.navbar-default {
  opacity: 0.9;
  height: 25%;
}

.containter-fluid {
  text-align: center;
}

/*.btn-default:hover {
  background-color: #d2e6d9;
  border-color: #a6bbae;
}*/
