<header ng-include="'/views/partials/headerLogOut.html'"></header>

<div>

  <!-- BiographyForm  -->

  <div class="IndividualBio container" >

    <h2>Biography of {{selectedRelative.data.firstName + " " + selectedRelative.data.middleName + " " + selectedRelative.data.lastName}}</h2>
    <p>Birthday: {{selectedRelative.data.birthday}}</p>
    <p>Age: {{selectedRelative.data.age}}</p>
    <p>Alive: {{selectedRelative.data.alive}}</p>

    <h3>Family</h3>
    <p>Mother: {{selectedRelative.data.motherName}}</p>
    <p>Father: {{selectedRelative.data.fatherName}}</p>

    <!-- <h3>Life</h3>
    <p>BirthPlace: {{selectedRelative.data.birthplace}}</p>
    <p>Education: {{selectedRelative.data.education}}</p>
    <p>Early Life: {{selectedRelative.data.earlyLife}}</p>

    <p>Profession: {{selectedRelative.data.profession}}</p>
    <p>Adult Life: {{selectedRelative.data.adultLife}}</p>

    <h3>Contact Information</h3>
    <p>Home Phone: {{selectedRelative.data.homePhone}}</p>
    <p>Mobile Phone: {{selectedRelative.data.mobilePhone}}</p>
    <p>Adress: {{selectedRelative.data.adress}}</p>
    <p>Email: {{selectedRelative.data.email}}</p>
    <p>Notes: {{selectedRelative.data.contactNotes}}</p> -->

  </div>


  <!-- Edit Form or Navigate to Roots-->
  <div class="container">
    <a href="#/userWelcome" class="btn btn-default" role="button">Back to Family List</a>
    <a href="#/editBio" class="btn btn-default" role="button" ng-click="viewSelectedBio(selectedRelative.data)">Edit Bio</a>
  </div>

</div>
