<header ng-include="'/views/partials/headerLogOut.html'"></header>

<div>

  <div class="container">

    <h2>Biography of {{bioObject.firstName}} {{bioObject.lastName}}</h2>


  </div>


  <!-- BiographyForm  -->

  <div class="personBio container">
    <p>Birthday:{{bioObject.birthday}}</p>
    <p>Age:{{bioObject.age}}</p>
    <p>Alive:{{bioObject.alive}}</p>
  </div>



  <!-- Edit Form or Navigate to Roots-->
  <div class="container">
    <a href="#/roots" class="btn btn-default" role="button">Back to Roots</a>

    <a href="#/editBio" class="btn btn-default" role="button">Edit Bio</a>
    <a href="#/roots" class="btn btn-default" role="button">Delete</a>

  </div>

</div>
