<header ng-include="'/views/partials/headerLogOut.html'"></header>

<div>

  <!-- BiographyForm  -->

  <div class="IndividualBio container" >

    <h2>Biography of {{onePerson.data.firstName}} {{onePersonrson.data.lastName}}</h2>
    <p>Birthday:{{onePerson.data.birthday}}</p>
    <p>Age:{{onePerson.data.age}}</p>
    <p>Alive:{{onePerson.data.alive}}</p>
  </div>



  <!-- Edit Form or Navigate to Roots-->
  <div class="container">
    <a href="#/roots" class="btn btn-default" role="button">Back to Roots</a>

    <a href="#/editBio" class="btn btn-default" role="button">Edit Bio</a>
    <a href="#/roots" class="btn btn-default" role="button">Delete</a>

  </div>

</div>
