<header ng-include="'/views/partials/headerName.html'"></header>
<div class="">

  <div class="container">
    <h1>Edit Biography</h1>
  </div>

  <!-- data bind input fields - update will show on bio.html -->
  <!--GOAL: data bind bioObject properties to edt  -->
  <!-- Need to change date format to show only MM/DD/YYY  -->
  <div class="container">

    <form class="" action="bio.html" method="post">
      <div class="form-group">
        <label for="fullName">Full Name</label>
        <input type="text"  ng-model="bioObject.firstName" >
        <input type="text"  ng-model="bioObject.lastName">
        <br>
        <label for="birthday">Birthday</label>
        <input type="date" ng-model="bioObject.birthday" >

        <label for="age">Age</label>
        <input type="number" ng-model="bioObject.age">

        <label for="vitalStatus">Alive</label>
        <select class="vitalStatus" name="alive" ng-model="bioObject.alive">
          <option value="TRUE">Yes</option>
          <option value="FALSE">No</option>
        </select>

        <div class="container">
          <a href="#/bio" class="btn btn-default" role="button" ng-click="update()">Update</a>
        </div>
      </div>

    </form>
  </div>
</div>
