<div class="row headerNav">
  <div class="col-md-12">
    <nav class="navbar navbar-default fixed-top">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Roots</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </nav>
  </div>
</div>


<div class="row ">
  <div class="col-md-12 col-s-10 col-xs-8 homeContent">
    <div class="quote">
      <h2>"A people without the knowledge of their past history, origin and culture is like a tree without roots." </h2>
      <h3> Marcus Garvey </h3>
      <hr width="70%">
      <!-- <h4>In your exploration of self and heritage, Roots will aid in documentation and record keeping for you and your family. </h4> -->
      <br>
    </div>
    <div class="register">
      <button type="button" class="registerBtn btn btn-default"><a href="#/register">Start Your Journey</a></button>
    </div>
  </div>
</div>
