<header ng-include="'/views/partials/headerName.html'"></header>

<div class="container">
  <h1>New Relation</h1>
</div>

<div class="container">

  <form class="newBioForm" action="bio.html" method="post">
    <div class="form-group">
      <label for="fullName">Full Name</label>
      <input type="text"  ng-model="bioObject.firstName" >
      <input type="text"  ng-model="bioObject.lastName">
      <br>
      <label for="birthday">Birthday</label>
      <input type="date" ng-model="bioObject.birthday" >

      <label for="age">Age</label>
      <input type="number" ng-model="bioObject.age">

      <label for="vitalStatus">Alive</label>
      <select class="vitalSelect" name="alive" ng-model="bioObject.alive">
        <option value="TRUE">Yes</option>
        <option value="FALSE">No</option>
      </select>

                  <!-- Show only name and basic info? or all BIO? -->
    <br>

      <div class="Relations">
        <h3>Family</h3>
          <label >Mother</label>
          <select class="relations" ng-model="relationObj.mother_id">
          <option value="people.id" ng-repeat="people in bioObject.savedBios">{{people.firstName + " " + people.lastName}}</option>
          </select>

          <label >Father</label>
          <select class="relations" ng-model="relationObj.father_id">
            <option value="people.id" ng-repeat="people in bioObject.savedBios">{{people.firstName + " " + people.lastName}}</option>
          </select>
      </div>


      <br>
      <!--
      <h3>Life</h3>

      BirthPlace: <input type="text" ng-model="bioObject.birthplace">
      Education: <input type="text" ng-model="bioObject.education">
      <br>
      Early Life: <input type="text" ng-model="bioObject.earlyLife">
      <br>
      Profession: <input type="text" ng-model="bioObject.profession">
      <br>
      Adult Life: <input type="text" ng-model="bioObject.adultLife">


      <h3>Contact Information</h3>
      Home Phone: <input type="number" ng-model="bioObject.homePhone">
      Mobile Phone: <input type="number" ng-model="bioObject.mobilePhone">
      <br>
      Adress: <input type="text" ng-model="bioObject.adress">
      Email: <input type="text" ng-model="bioObject.email">
      <br>
      Notes: <input type="text" ng-model="bioObject.contactNotes">
 -->


      <div class="container">
        <a href="#/roots" class="btn btn-default" role="button" ng-click="newRelation()">Save</a>
      </div>
    </div>


</div>
