<header ng-include="'/views/partials/headerName.html'"></header>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="lead welcome">New Relation</h1>
    </div>
  </div>

  <div class="">
    <form class="newBioForm">

      <div class="form-group row">
        <div class="col-md-1">
          <label for="fullName" class="col-2 col-form-label">Full Name</label>
        </div>
        <div class="col-md-5">
          <input type="text" class=" form-control" ng-model="relatives.firstName" placeholder="First">
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" ng-model="relatives.lastName" placeholder="Last">
        </div>
      </div>

      <br>
      <div class="form-group row">
        <div class="col-md-4">
          <label for="birthday">Birthday</label>
          <input type="date" class="form-control" ng-model="relatives.birthday">

        </div>

        <div class="col-md-4">
          <label for="age">Age</label>
          <input type="number" class="form-control" ng-model="relatives.age">

        </div>

        <div class="col-md-2">
          <label for="vitalStatus">Alive</label>
          <select class="vitalSelect form-control" name="alive" ng-model="relatives.alive">
            <option value="TRUE">Yes</option>
            <option value="FALSE">No</option>
          </select>
        </div>

      </div>
      <br>

      <div class="form-group row">
        <div class=" col-md-4 Btncontainer">
          <a href="#/userWelcome" class="btn btn-default" role="button" ng-click="newRelative()">Save</a>
        </div>
      </div>

    </form>
  </div>
