<header ng-include="'/views/partials/headerLogOut.html'"></header>

<div class="row">
  <div class="col-md-12">
    <h1>My Roots</h1>
  </div>
</div>


<div class="row">
<!--
 <a href="#/newBio" class="btn btn-default" role="button" >Add</a>

  <a href="#/userWelcome" class="btn btn-default" role="button">Back to Welcome Page</a>


  <ul class="listOfRelations" ng-repeat="person in relatives.savedBios">
    <li>{{person.firstName}} {{person.lastName}}</li>
    <a href="#/bio" class="btn btn-default" role="button" ng-click="viewSelectedBio(person)">Bio</a>
  </ul>  -->

</div>
