<header ng-include="'/views/partials/headerLogOut.html'"></header>

<h1>My Roots</h1>


<div class="container">

  <a href="#/newBio" class="btn btn-default" role="button">Add</a>

  <a href="#/userWelcome" class="btn btn-default" role="button">Back to Welcome Page</a>

  <!-- List of all relatives goes here  -->

  <ul class="listOfRelations">
    <li>Bio's Goes Here </li>
  </ul>

  <ul ng-repeat="person in bioObject.savedBios">
    <li>{{person.firstName}} {{person.lastName}}</li>
    <a href="#/bio" class="btn btn-default" role="button" ng-click="viewBio(person)">Bio</a>
  </ul>

</div>
