<header ng-include="'/views/partials/headerLogout.html'"></header>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="lead welcome">Welcome, {{userObject.firstName}}!</h1>
    </div>
  </div>


  <div class="row btnContainer">
    <div class="col-md-12">
      <a href="#/newBio" class="btn btn-secondary" role="button">Add</a>
      <a href="#/rootsD3" class="btn btn-secondary" role="button">My Roots</a>

    </div>
  </div>
<br>
  <div class="row">
    <div class="col-md-4" ng-repeat="person in relatives.savedBios">
    <div class="relative">
      <h3 class="names">{{person.firstName}} {{person.middleName}} {{person.lastName}}</h3>
      <p>{{person.relationtome}}</p>

      <div class="buttons">
        <a href="#/bio" class="btn btn-default" role="button" ng-click="viewSelectedBio(person)">View Bio</a>
        <!-- <a href="#/editBio" class="btn btn-default" role="button" ng-click="viewSelectedBio(person)"><span class="glyphicon glyphicon-edit"></span></a>
        <button class="btn btn-default" type="button" ng-click="deleteRelation(person)"><span class="glyphicon glyphicon-trash"></span></button> -->
      </div>
    </div>

    </div>
  </div>


</div>
