<!DOCTYPE html>
<html ng-app="rootsApp">

<head>
  <meta charset="utf-8">
  <title>Roots</title>

  <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="assets/styles/style.css">


  <script type="text/javascript" src="vendors/angular/angular.min.js"></script>
  <script type="text/javascript" src="vendors/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="assets/scripts/client.js"></script>
  <script type="text/javascript" src="assets/scripts/factories/UserService.js"></script>
  <script type="text/javascript" src="assets/scripts/controllers/LoginController.js"></script>
  <script type="text/javascript" src="assets/scripts/controllers/UserController.js"></script>

</head>

<body>
  <!-- <header ng-include="'/views/partials/header.html'"></header> -->

  <main ng-view></main>

</body>

</html>
