.quote {
  color: ghostwhite;
  text-align: center;
}

a {
  color: ghostwhite;
}

body {
  background-image: url('/images/rootOPq.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #lightslategrey;
  height: 100%;
}
.quote {
  padding-top: 20px;
}
.navbar-default {
  opacity: 0.9;
  height: 25%;
}

.navbar-brand {
  color: #2e4739;
  font-size: 25px;
}

.homeContent {
  width: 600px;
  height: 400px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: ghostwhite 1px solid;
  background-color: rgba(47, 48, 48, 0.25);
}
/*media query so specify width for each size screen each size (homeContent, width=)*/

.btn-default {
  font-weight: 500;
}

.btn-default:hover {
  background-color: #a2cbd0;
  border-color: #a2cbd0;
  color: ghostwhite;
}

.register {
  text-align: center;
}

.registerBtn a {
  color: #75A394;
}

.registerBtn a:hover {
  color: ghostwhite;
}

.loginBtn {
  font-size: 15px;
  margin-top: 17px;
  margin-left: 88%;
  color: #2e4739;
}

a {
  color: #2e4739;
}
/*
Colors:
light-blue-btns: #a2cbd0 (pastel bluue)
navbar/header: #2e4739 (kombu greeen)
greens: #75A394 (Polished Pine)
        #99BF99 (eton bluue)
super-light green: #c7e0d0 (pistachio)
brown-grey: 7F8074 (trolley greey)
dark grey-brownish: #303633 (jet)
*/
