.quote {
  color: ghostwhite;
  text-align: center;
}

a {
  color: ghostwhite;
}

body {
  background-image: url('/images/rootOPq.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #lightslategrey;
  height: 100%;
}

.navbar-default {
  opacity: 0.9;
  height: 25%;
}

.homeContent {
  width: 40%;
  height: 40%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.btn-default {
  background-color: #a2cbd0;
  border-color: #a2cbd0;
}

.register {
  text-align: center;
}


/*
Colors:
light-blue-btns: #a2cbd0 (pastel bluue)
navbar/header: #2e4739 (kombu greeen)
greens: #75A394 (Polished Pine)
        #99BF99 (eton bluue)
super-light green: #c7e0d0 (pistachio)
brown-grey: 7F8074 (trolley greey)
dark grey-brownish: #303633 (jet)
*/
