h1 {
  text-align: center;
}


body {
  background-image: url('/images/rootDarkOPq.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #lightslategrey;
  height: 100%;
}
