h1 {
  text-align: center;
}


body {
  background-image: url('/images/rootDarkOPq.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #lightslategrey;
  height: 100%;
}


.navbar-default {
  opacity: 0.9;
  height: 25%;
}

.navbar-brand {
  color: #2e4739;
  font-size: 30px;
}

.btn-secondary {
  background-color: white;
  color:  #2e4739;
  opacity: 0.82;
}

.logoutBtn {
  font-size: 15px;
  margin-top: 7px;
  margin-left: 87%;
}
